# GCP Project
GCP_PROJECT=lewagon-visual-geolocation
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=visual-geolocation-osv5m

# Geographical constants
GEOCELL_SIZE=1
LON_MIN=-180
LON_MAX=180
LAT_MIN=-55
LAT_MAX=80

IMG_FOLDER = 00.zip
CLASS_NUMBER=1443
BATCH_SIZE = 32
