# GCP Project
GCP_PROJECT=lewagon-visual-geolocation
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=visual-geolocation-osv5m
MODEL_TARGET="gcs"

# Cloud Compute
INSTANCE=visual-geoloc-prod
INSTANCE2=visual-geoloc-megaprod
GAR_IMAGE=visual-geoloc-docker

# PATHS
RAW_DATA_PATH=raw_data
IMAGES_PATH=images
CLASS_TO_GEOCELL_MAP=class_to_geocell.pickle
TRAIN_FILE=final_train.csv
TEST_FILE=final_test.csv
TEST_FILE_FOR_FRONT=test_final_for_front.csv
BOUNDARIES_JSON=custom.geo_lite.json
LOCAL_REGISTRY_PATH=registry
TRAIN_SET_PATH=/home/louis/code/bunkichikun/visual_geolocation/raw_data/01/256/256/chunk_0
TEST_SET_PATH=/home/louis/code/bunkichikun/visual_geolocation/raw_data/01/test/256

# Geographical constants
GEOCELL_SIZE=1
LON_MIN=-180
LON_MAX=180
LAT_MIN=-55
LAT_MAX=80

IMG_FOLDER=00.zip
CLASS_NUMBER=1443
BATCH_SIZE=64
IMAGE_SIZE=256
EPOCHS=50
VAL_SPLIT=0.2
SERVICE_URL=https://visual-geoloc-docker-766802765455.europe-west1.run.app
