# GCP Project
GCP_PROJECT=lewagon-visual-geolocation
GCP_REGION=europe-west1

# Cloud Storage
BUCKET_NAME=visual-geolocation-osv5m
MODEL_TARGET="local"

# Cloud Compute
INSTANCE=visual-geoloc-prod

# PATHS
RAW_DATA_PATH=raw_data
IMAGES_PATH=images
CLASS_TO_GEOCELL_MAP=class_to_geocell.pickle
TRAIN_FILE=final_train.csv
TEST_FILE=final_test.csv
BOUNDARIES_JSON=custom.geo_lite.json
LOCAL_REGISTRY_PATH=registry

# Geographical constants
GEOCELL_SIZE=1
LON_MIN=-180
LON_MAX=180
LAT_MIN=-55
LAT_MAX=80

IMG_FOLDER = 00.zip
CLASS_NUMBER=1443
BATCH_SIZE = 32
IMAGE_SIZE=256
EPOCHS=50
