pytest==8.4.1
pylint==3.3.8
ipdb==0.13.13
jupyterlab==4.4.6

numpy>=1.26,<3
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2

matplotlib==3.9.4
seaborn==0.13.2
geopandas==1.0.1

tensorflow[and-cuda]==2.21.0

Pillow==11.3.0

google-cloud-storage>=2.18,<4
google-api-core>=2.25,<3
googleapis-common-protos>=1.70,<2

prefect==2.19.2
pytz==2024.2

fastapi==0.108.0
uvicorn==0.28.1
